@model LoginVM;

@{
    ViewBag.Title = "FSSTS - Login";
}
<html
    <head>
        <link href="~/css/login.css" rel="stylesheet" />
    </head>
    <body>
        

        <div id="loginContainer">
    
        @using (Html.BeginForm("Login", "Login"))
            {
                <label id="badPassword" class="Error">@Utility.Constants.IncorrectPassword</label>
                <br />
                <label for="Username">Username</label>
                <br />
                <input type="text" id="inputUsername" name="Username"/>

                <br />

                <label id="badUsername" class="Error">@Utility.Constants.IncorrectUsername</label>
                <br />
                    <label for="Password">Password</label>
                <br />
                <input type="text" id="inputPassword" name="Password" />

                <br />
                <br />

                <input type="button" id="btnValidateLogin" value="Submit">

        
            }
            <br />
        </div>
        <div id="dvRegister">
            <a href="@Url.Action("Register", "Login")">
                <button id="registerBtn">Register</button>
            </a>
        </div
        <div id="dvForgotPassword">

        </div>
    </body>
</html>

@section Scripts {
<scripts>
    <script src="~/js/login.js"></script>
</scripts>
}