@model LoginVM;

@{
    ViewBag.Title = "RPA - Login";
}
<html
    <head>
        <link href="~/css/login.css" rel="stylesheet" />
    </head>
    <body>
        

        <div id="loginContainer">
    
        @using (Html.BeginForm("Login", "Login"))
            {
                <label id="badPassword" class="Error">@RPAUtility.Constants.IncorrectPassword</label>
                <br />
                <label for="Username">Username</label>
                <br />
                <input type="text" id="inputUsername" name="Username"/>

                <br />

                <label id="badUsername" class="Error">@RPAUtility.Constants.IncorrectUsername</label>
                <br />
                    <label for="Password">Password</label>
                <br />
                <input type="text" id="inputPassword" name="Password" />

                <br />
                <br />

                <input type="button" onclick="validateLogin()" value="Submit">

        
            }
            <br />
        </div>
        <div id="dvRegister">
            @Url.ActionLink()
        </div
        <div id="dvForgotPassword">

        </div>
    </body>
</html>

@section Scripts {
<scripts>
    <script src="~/js/login.js"></script>
@*     <a href="~/lib/jquery/jquery.min.map"></a>
    <a href="~/lib/jquery/jquery.slim.min.map"></a>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/jquery/jquery.js"></script> *@
    
</scripts>
}