<html
    <head>
        @* <link href="~/css/login.css" rel="stylesheet" /> *@
    </head>
    <body>


        <div id="RegisterContainer">

        @using (Html.BeginForm("Register", "Login"))
        {
            <label id="usernameNotValid" class="Error">@RPAUtility.Constants.UsernameNotValid</label>
            <label id="usernameExists" class="Error">@RPAUtility.Constants.UsernameExists</label>
            <br />
            <label for="Username">Username</label>
            <br />
            <input type="text" id="inputUsername" name="Username"/>

            <label id="passwordNotValid" class="Error">@RPAUtility.Constants.PasswordNotValid</label>
            <br />
            <label for="Password">Password</label>
            <br />
            <input type="text" id="inputPassword" name="Password"/>
                   

            <input type="button" onclick="Register()" value="Submit">
        }
            <br />
        </div>
    </body>
</html>

@section Scripts {
    <scripts>
        <script src="~/js/Register.js"></script>
    </scripts>
}