<html
    <head>
        @* <link href="~/css/login.css" rel="stylesheet" /> *@
    </head>
    <body>


        <div id="RegisterContainer">

        @using (Html.BeginForm("Register", "Login"))
        {

            <br />
            <label for="firstName">First Name</label>
            <br />
            <input type="text" id="firstName" name="firstName"/>

            <br />
            <label for="lastName">Last Name</label>
            <br />
            <input type="text" id="lastName" name="lastName"/>

            <br />
            <label for="streetAddress">Street Address</label>
            <br />
            <input type="text" id="streetAddress" name="streetAddress"/>

            <br />
            <label for="city">City</label>
            <br />
            <input type="text" id="city" name="city"/>

            <br />
            <label for="zip">Zip</label>
            <br />
            <input type="text" id="zip" name="zip"/>

            <br />
            <label for="email">Email</label>
            <br />
            <input type="text" id="email" name="email"/>

            <br />
            <label for="phone">Phone</label>
            <br />
            <input type="text" id="phone" name="phone"/>

            <label id="usernameNotValid" class="Error">@RPAUtility.Constants.UsernameNotValid</label>
            <label id="usernameExists" class="Error">@RPAUtility.Constants.UsernameExists</label>
            <br />
            <label for="Username">Username</label>
            <br />
            <input type="text" id="inputUsername" name="Username"/>

            <label id="passwordNotValid" class="Error">@RPAUtility.Constants.PasswordNotValid</label>
            <br />
            <label for="Password">Password</label>
            <br />
            <input type="text" id="inputPassword" name="Password"/>

            <br />
            <label for="recoveryQuestion1">Recovery Question 1</label>
            <br />
            <input type="text" id="recoveryQuestion1" name="recoveryQuestion1"/>

            <br />
            <label for="recoveryAnswer1">Recovery Answer 1</label>
            <br />
            <input type="text" id="recoveryAnswer1" name="recoveryAnswer1"/>

            <br />
            <label for="recoveryQuestion2">Recovery Question 2</label>
            <br />
            <input type="text" id="recoveryQuestion2" name="recoveryQuestion2"/>

            <br />
            <label for="recoveryAnswer2">Recovery Answer 2</label>
            <br />
            <input type="text" id="recoveryAnswer2" name="recoveryAnswer2"/>

            <br />
            <label for="recoveryQuestion3">Recovery Question 3</label>
            <br />
            <input type="text" id="recoveryQuestion3" name="recoveryQuestion3"/>

            <br />
            <label for="recoveryAnswer3">Recovery Answer 3</label>
            <br />
            <input type="text" id="recoveryAnswer3" name="recoveryAnswer3"/>



   

                <input type="button" onclick="validate()" value="Submit">
        }
            <br />
        </div>
    </body>
</html>

@section Scripts {
    <scripts>
        <script src="~/js/Register.js"></script>
    </scripts>
}